body {
	background-color: #ffc;
	font-family: 'Ketchum', sans-serif;                               
	font-size: 30px;                                       
}

.container {
	display: flex;
	flex-direction: column;
}

.page-header {
	flex-direction: row;
	margin: 2%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Pokemon Solid', sans-serif;
}

.page-header__item {
	flex: 0 2 150px;
}

.pokeball {
	float: left;
}

.page-header__title {
	margin-left: 2em;
	font-size: 85px;
}

li {
	text-align: center;
	list-style-type: none;
}

/* buttons */

.button-class {
	border: none;
	background-color: #665bf7;
	color: white;
	border-radius: 5px;
	display: inline-block;
	justify-content: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding: 16px 32px;
	margin: 10px 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.button-class:active,
.button-class:hover {
	opacity: 0.8 ;
}

/* media queries */
