body {
	background-color: #ffc;
	font-family: 'Ketchum', sans-serif;                               
	font-size: 30px;                                       
}

.container {
	display: flex;
	flex-direction: column;
}

.page-header {
	flex-direction: row;
	margin: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Pokemon Solid', sans-serif;
}

.page-header__item {
	flex: 0 2 150px;
}

.pokeball {
	float: left;
}

.page-header__title {
	margin-left: 200px;
	font-size: 85px;
}



/* buttons */

.button-class {
	border: 2px blue solid;
	background-color: white;
	padding: 16px 32px;
	margin: 10px 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;